body {
    font-family: Arial, Helvetica, sans-serif;
    background: purple;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.Kyle {
    color: white;
}

#kyleImage img {
    height: 200px;
    width: 200px;
    border-radius: 5%;
    box-shadow: 5px 5px 7px rgb(49, 0, 49);
}
